Repository aliaksandr-andreyeu/reactjs-rtk-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:style:fix, npm run lint:js:fix

.lintstagedrc.json:

{
  "./**/*.scss": ["npm run format", "npm run lint:style:fix", "git add"],
  "./**/*.js": ["npm run format", "npm run lint:js:fix", "git add"],
  "./**/*.json": ["npm run format", "git add"]
}

Improve signUp validateConfirm behavior
  src/containers/auth/reset-password/screen/index.js
  src/containers/auth/signin/screen/index.js
  src/containers/auth/signup/screen/index.js
Due: npm run format, npm run lint:js:fix

Add ProfileScreen changePassword modal
  src/containers/profile/components/change-password-modal/index.js
  src/containers/profile/components/index.js
Due: npm run format, npm run lint:js:fix

Add Profile changePass && editAccount data methods
  src/containers/profile/index.js
  src/containers/profile/screen/index.js
Due: npm run format, npm run lint:js:fix

Add contactUs && profile forms with responsive
  src/components/input/styles.scss
  src/containers/app/screen/styles.scss
  src/containers/contact-us/screen/styles.scss
  src/containers/profile/screen/index.js
  src/containers/profile/screen/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add user screen with responsive
  src/containers/app/components/profile-menu/styles.scss
  src/containers/profile/screen/index.js
  src/containers/user/index.js
  src/containers/user/screen/index.js
  src/containers/user/screen/styles.scss
  src/store/slices/account/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Improve account store methods with Profile & User screens
  src/components/input/index.js
  src/constants/errors/index.js
  src/containers/contact-us/screen/styles.scss
  src/containers/profile/components/change-password-modal/index.js
  src/containers/profile/index.js
  src/containers/profile/screen/index.js
  src/containers/profile/screen/styles.scss
  src/containers/user/screen/styles.scss
  src/store/api/auth/index.js
  src/store/slices/account/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Improve ResetPassword screen with store method
  src/constants/messages/index.js
  src/containers/auth/reset-password/index.js
  src/containers/auth/reset-password/screen/index.js
  src/store/slices/auth/index.js
  src/store/slices/users/index.js
Due: npm run format, npm run lint:js:fix

Improve webpack config
  package.json
  src/environments/.env.development
  src/environments/.env.production
  webpack.config.js
Due: npm run format, npm run lint:js:fix

Update readme
  README.md
Due: none

Add network connection handler
  src/constants/errors/index.js
  src/containers/connection-handler/index.js
  src/containers/connection-handler/screen/index.js
  src/containers/connection-handler/screen/styles.scss
  src/containers/index.js
  src/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add application error boundary
  src/containers/error-boundary/index.js
  src/containers/error-boundary/screen/index.js
  src/containers/error-boundary/screen/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add jest & testing library for unit tests
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  .stylelintignore
  jest.config.json
  package.json
Due: npm run format

Add Alert component unit test
  jest.config.json
  src/components/alert/index.test.js
Due: npm run format, npm run lint:js:fix

Modify userUpdate method. Fix getUsers loading due 401 error
  package.json
  src/containers/users/components/item/index.js
  src/containers/users/index.js
  src/store/slices/users/index.js
Due: npm run format, npm run lint:js:fix

Fix user Age 0
  src/containers/users/components/item/index.js
Due: npm run format, npm run lint:js:fix

Add dev redux-logger
  package.json
  src/environments/.env.development
  src/environments/.env.production
  src/store/index.js
Due: npm run format, npm run lint:js:fix

Remove deprecated meta header
  .gitignore
  public/index.html
Due: none
