Repository aliaksandr-andreyeu/reactjs-rtk-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:style:fix, npm run lint:js:fix

.lintstagedrc.json:

{
  "./**/*.scss": ["npm run format", "npm run lint:style:fix", "git add"],
  "./**/*.js": ["npm run format", "npm run lint:js:fix", "git add"],
  "./**/*.json": ["npm run format", "git add"]
}

Add button, input components
  src/components/button/index.js
  src/components/button/styles.scss
  src/components/index.js
  src/components/input/index.js
  src/components/input/styles.scss
  src/constants/styles/reset.scss
  src/constants/styles/theme.scss
  src/images/logo.svg
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add signin container with screen
  src/containers/auth/signin/index.js
  src/containers/auth/signin/screen/index.js
  src/containers/auth/signin/screen/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add SvgIcon component
  .stylelintrc.json
  jsconfig.json
  src/components/button/styles.scss
  src/components/index.js
  src/components/input/styles.scss
  src/components/svg-icon/index.js
  src/constants/navigation/index.js
  src/constants/styles/theme.module.scss
  src/constants/styles/theme.scss
  src/images/logo.svg
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add signup & reset password containers
  src/components/svg-icon/index.js
  src/containers/app/screen/styles.scss
  src/containers/app/styles.scss
  src/containers/auth/index.js
  src/containers/auth/reset-password/index.js
  src/containers/auth/reset-password/screen/index.js
  src/containers/auth/reset-password/screen/styles.scss
  src/containers/auth/signup/index.js
  src/containers/auth/signup/screen/index.js
  src/containers/auth/signup/screen/styles.scss
  src/containers/auth/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add checkbox icon to SvgIcon
  public/index.html
  src/components/button/index.js
  src/components/input/index.js
  src/components/svg-icon/index.js
  src/components/svg-icon/styles.scss
  src/constants/styles/reset.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add Checkbox component
  src/components/checkbox/index.js
  src/components/checkbox/styles.scss
  src/components/svg-icon/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add IconButton component
  src/components/button/index.js
  src/components/button/styles.scss
  src/components/icon-button/index.js
  src/components/icon-button/styles.scss
  src/components/index.js
  src/containers/app/styles.scss
  src/containers/auth/styles.scss
  src/containers/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add sidebar component
  src/components/sidebar/index.js
  src/components/sidebar/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add header component
  src/components/header/index.js
  src/components/header/styles.scss
  src/components/icon-button/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add helpers & components with code improvements
  jsconfig.json
  src/components/button/index.js
  src/components/checkbox/index.js
  src/components/icon-button/index.js
  src/components/icon-button/styles.scss
  src/components/index.js
  src/components/input/index.js
  src/containers/users/components/header/index.js
  src/containers/users/components/header/styles.scss
  src/containers/users/components/index.js
  src/containers/users/components/profile-menu/index.js
  src/containers/users/components/profile-menu/styles.scss
  src/containers/users/components/sidebar/index.js
  src/containers/users/components/sidebar/styles.scss
  src/containers/users/screen/styles.scss
  src/helpers/index.js
  src/helpers/ui/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Modify svg icons component
  src/components/svg-icon/index.js
  src/containers/app/styles.scss
  src/containers/auth/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add profile menu component
  src/constants/styles/theme.module.scss
  src/containers/users/components/header/index.js
  src/containers/users/components/header/styles.scss
  src/containers/users/components/profile-menu/index.js
  src/containers/users/components/profile-menu/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Modify profile menu component
  src/components/icon-button/index.js
  src/constants/styles/theme.module.scss
  src/containers/users/components/header/index.js
  src/containers/users/components/profile-menu/index.js
  src/containers/users/components/profile-menu/styles.scss
  src/containers/users/components/sidebar/styles.scss
  src/containers/users/screen/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add about, settings, privacy, terms, 404 containers boilerplate
  src/containers/about/index.js
  src/containers/about/screen/index.js
  src/containers/about/screen/styles.scss
  src/containers/app/index.js
  src/containers/not-found/index.js
  src/containers/not-found/screen/index.js
  src/containers/not-found/screen/styles.scss
  src/containers/profile/index.js
  src/containers/profile/screen/index.js
  src/containers/profile/screen/styles.scss
  src/containers/settings/index.js
  src/containers/settings/screen/index.js
  src/containers/settings/screen/styles.scss
  src/containers/users/components/header/index.js
  src/containers/users/components/header/styles.scss
  src/containers/users/components/profile-menu/styles.scss
  src/containers/users/index.js
  src/containers/users/screen/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add table to users screen
  src/components/checkbox/styles.scss
  src/constants/styles/reset.scss
  src/constants/styles/theme.module.scss
  src/containers/app/styles.scss
  src/containers/users/components/profile-menu/styles.scss
  src/containers/users/components/sidebar/styles.scss
  src/containers/users/screen/index.js
  src/containers/users/screen/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Components modifying and improvement
  src/components/button/index.js
  src/components/checkbox/index.js
  src/components/checkbox/styles.scss
  src/components/icon-button/index.js
  src/components/icon-button/styles.scss
  src/components/svg-icon/index.js
  src/components/svg-icon/styles.scss
  src/constants/styles/reset.scss
  src/containers/users/components/sidebar/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Modify components
  src/components/button/index.js
  src/components/button/styles.scss
  src/components/checkbox/index.js
  src/components/checkbox/styles.scss
  src/components/icon-button/index.js
  src/components/icon-button/styles.scss
  src/components/index.js
  src/components/input/index.js
  src/components/svg-icon/index.js
  src/constants/styles/reset.scss
  src/constants/styles/theme.module.scss
  src/helpers/index.js
  src/helpers/ui/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add modal && confirm component
  src/components/modal/components/index.js
  src/components/modal/components/modal-item/index.js
  src/components/modal/components/modal-item/styles.scss
  src/components/modal/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Append Svg Icons & modify Input
  src/components/input/index.js
  src/components/input/styles.scss
  src/components/svg-icon/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add forms input validation errors
  src/constants/errors/index.js
Due: npm run format, npm run lint:js:fix

Improve signIn form validation helpers
  src/helpers/index.js
  src/helpers/ui/index.js
Due: npm run format, npm run lint:js:fix

Modify signIn styles due appended errors
  src/containers/auth/signin/screen/styles.scss
  src/containers/auth/styles.scss
Due: npm run format, npm run lint:style:fix

Improve disabled button & input with errors
  src/components/button/index.js
  src/components/button/styles.scss
  src/components/input/index.js
  src/components/input/styles.scss
  src/constants/navigation/index.js
  src/containers/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Modify signIn with actions
  src/containers/auth/signin/index.js
  src/containers/auth/signin/screen/index.js
Due: npm run format, npm run lint:js:fix

Add signUp container with screen
  src/components/input/index.js
  src/constants/index.js
  src/containers/auth/signin/index.js
  src/containers/auth/signin/screen/index.js
  src/containers/auth/signup/index.js
  src/containers/auth/signup/screen/index.js
  src/helpers/index.js
  src/helpers/ui/index.js
Due: npm run format, npm run lint:js:fix

Add SignIn errors handler
  src/components/button/index.js
  src/components/index.js
  src/constants/store/index.js
  src/containers/auth/signin/index.js
  src/containers/auth/signin/screen/index.js
  src/helpers/index.js
  src/helpers/ui/index.js
  src/index.js
Due: npm run format, npm run lint:js:fix

Add store Auth slice
  src/components/button/styles.scss
  src/store/api/auth/index.js
  src/store/index.js
  src/store/slices/account/index.js
  src/store/slices/auth/index.js
  src/store/slices/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add SvgIcons for alert tips
  src/components/svg-icon/index.js
Due: npm run format, npm run lint:js:fix

Add alert tooltip component
  src/components/alert/index.js
  src/components/alert/styles.scss
  src/components/index.js
  src/components/input/index.js
  src/components/svg-icon/index.js
  src/constants/styles/theme.module.scss
  src/containers/users/components/header/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Improve Alert component & SignIn screen form
  src/components/alert/index.js
  src/components/alert/styles.scss
  src/constants/styles/theme.module.scss
  src/containers/auth/signin/screen/index.js
  src/containers/auth/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add store actions to signUp container
  src/components/alert/styles.scss
  src/containers/auth/signin/index.js
  src/containers/auth/signin/screen/index.js
  src/containers/auth/signup/index.js
  src/containers/auth/signup/screen/index.js
  src/helpers/ui/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add requests interceptors
  src/constants/index.js
  src/constants/store/index.js
  src/constants/store/interceptors/index.js
  src/constants/store/interceptors/request/index.js
  src/constants/store/interceptors/response/index.js
  src/helpers/ui/index.js
  src/store/api/auth/index.js
  src/store/api/index.js
  src/store/api/users/index.js
  src/store/index.js
  src/store/slices/auth/index.js
Due: npm run format, npm run lint:js:fix

Add loader and noData components
  src/components/button/styles.scss
  src/components/index.js
  src/components/loader/index.js
  src/components/loader/styles.scss
  src/constants/store/interceptors/response/index.js
  src/containers/app/styles.scss
  src/containers/users/components/empty/index.js
  src/containers/users/components/empty/styles.scss
  src/containers/users/components/index.js
  src/containers/users/components/profile-menu/index.js
  src/store/api/users/index.js
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Add user data table item
  src/components/loader/styles.scss
  src/components/modal/components/modal-item/styles.scss
  src/containers/app/styles.scss
  src/containers/users/components/index.js
  src/containers/users/components/item/index.js
  src/containers/users/index.js
  src/containers/users/screen/index.js
  src/containers/users/screen/styles.scss
Due: npm run format, npm run lint:style:fix, npm run lint:js:fix

Improve axios interceptors
  src/constants/store/index.js
  src/constants/store/interceptors/index.js
  src/constants/store/interceptors/request/index.js
  src/helpers/index.js
  src/helpers/store/index.js
  src/helpers/store/request/index.js
  src/helpers/store/response/index.js
Due: npm run format, npm run lint:js:fix

Add authorization middleware
  src/store/middlewares/authorization/index.js
  src/store/middlewares/index.js
Due: npm run format, npm run lint:js:fix

Improve store slices
  src/store/index.js
  src/store/slices/auth/index.js
  src/store/slices/index.js
  src/store/slices/users/index.js
Due: npm run format, npm run lint:js:fix

Add common containers router
  src/router/index.js
Due: npm run format, npm run lint:js:fix

Add users container && screen
  src/containers/users/components/item/index.js
  src/containers/users/components/sidebar/index.js
  src/containers/users/index.js
  src/containers/users/screen/index.js
  src/router/index.js
  src/store/slices/auth/index.js
Due: npm run format, npm run lint:js:fix

Add signOut to Auth store slices
  src/containers/users/components/header/index.js
  src/containers/users/index.js
  src/containers/users/screen/index.js
  src/store/api/auth/index.js
  src/store/slices/auth/index.js
Due: npm run format, npm run lint:js:fix
